streamlit
langgraph
langchain-core
langchain-openai
langchain-community
python-dotenv
requests
duckduckgo-search
pinecone-client
langchain-pinecone
pypdf
tiktoken
langchain-text-splitters
psycopg-binary
psycopg-pool
langgraph-checkpoint-postgres
